<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MembershipService" value="ActiveDirectory" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ActiveDirectoryDefaultDomain" value="vem.dk"/>
    <add key="ActiveDirectoryBackendPath" value="~\App_Data\ADBackend" xdt:Transform="Insert"/>
    <add key="ActiveDirectoryMemberGroupName" value="VEM User"  xdt:Transform="Insert"/>
    <add key="ActiveDirectoryTeamMapping" value="VEM-administrators=VEM-administrators, VEM-supervisors=VEM-supervisors, VEM-operators=VEM-operators, VEM-agents=VEM-agents " xdt:Transform="Insert"/>
    <add key="ActiveDirectoryRoleMapping" value="Administrator=VEM-administrators"  xdt:Transform="Insert"/>
  </appSettings>
</configuration>