<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MembershipService" value="ActiveDirectory" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ActiveDirectoryDefaultDomain" value="vem.dk"/>
    <add key="ActiveDirectoryBackendPath" value="~\App_Data\ADBackend" xdt:Transform="Insert"/>
    <add key="ActiveDirectoryMemberGroupName" value="Git"  xdt:Transform="Insert"/>
    <add key="ActiveDirectoryTeamMapping" value="Operator=GitOperators, SuperUser=GitSuperUsers, Agent=GitAgents" xdt:Transform="Insert"/>
    <add key="ActiveDirectoryRoleMapping" value="Administrator=GitAdmins"  xdt:Transform="Insert"/>
  </appSettings>
</configuration>